* {
	box-sizing: border-box;
}

body {
	background-color: #ead8ff;
	font-family: 'Open Sans', sans-serif;
	margin-left: 20vw;
	margin-right: 20vw;
	width: 60vw;
}

code, kbd, pre, samp {
	font-family: 'Inconsolata', monospace;
	/*Why isn't this working on <pre>?*/
}

dd {
	margin-bottom: 20px;
	margin-left: 0;
}

footer, header, section {
	background-color: white;
	border-color: #7F00FF;
	border-style: solid;
	margin-bottom: 8px;
	margin-top: 8px;
}

section > * {
	margin-left: 8px;
	margin-right: 8px;
}

.HTMLBody {
	margin-left: calc(20vw + 75px);
	margin-right: calc(20vw + 75px);
	/* The sidebar is 150px wide, so for the content to remain centered, each margin must be adjusted by half of that amount.*/
}

.navSidebar, .navTopbar {
	text-align: center;
}

.navSidebar {
	background-color: white;
	height: 100vh;
	left: 0;
	margin: 0;
	overflow-y: scroll;
	position: fixed;
	top: 0;
	width: 150px;
}

.navSidebar a {
	border-color: lightgrey darkgrey darkgrey lightgrey;
	border-style: outset;
	color: black;
	display: block;
	margin-bottom: 2px;
	text-decoration: none;
}

.navSidebar a.needsAttn {
	border-color: #e80000 #7e0000 #7e0000 #e80000;
	color: red;
}

.navSidebar a:hover, .navTopbar a:hover {
	border-style: inset;
}

.navSidebar dd {
	margin-bottom: 0px;
}

.navSidebar ul {
	list-style-type: none;
	padding-left: 0;
}

.navTopbar a {
	border-color: lightgrey darkgrey darkgrey lightgrey;
	border-style: outset;
	color: black;
	display: inline-block;
	font-size: 15pt;
	margin-bottom: 4px;
	padding-left: 2px;
	padding-right: 2px;
	text-decoration: none;
}

.pageHeadline {
	font-size: 36pt;
	font-weight: normal;
	text-align: center;
}

.unsectionedmain {
	/*This class exists so pages I haven't added sectioning to yet won't be broken by prior style changes; it will be removed once everything is updated.*/
	background-color: white;
	border-color: #7F00FF;
	border-style: solid;
	margin-bottom: 8px;
	margin-top: 8px;
}

.unsectionedmain > * {
	margin-left: 8px;
	margin-right: 8px;
}

#changelog {
	white-space: pre-wrap;
}

#exampledl dd {
	margin-bottom: 0;
	margin-left: 40px;
}

#rendereddialog {
	height: 165px;
	/*<dialog> is not counted as a child element, so the containing section was rendering too small. I am currently using this as a workaround until I can script it properly.-->*/
}