* {
	box-sizing: border-box;
}

body {
	background-color: #e6bfff;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}

body > footer, body > header, main > section {
	background-color: white;
	border-color: #bd54ff;
	border-style: solid;
	box-shadow: 3px 3px 5px gray;
	margin: 8px auto;
	max-width: 1080px;
}

body > header {
	text-align: center;
}

code, kbd, pre, samp, textarea {
	font-family: 'Inconsolata', monospace;
}

details dl {
	margin-left: 40px;
}

dl:not(#exampledl) dd {
	margin-bottom: 20px;
	margin-left: 0;
}

main > section {
	padding: 0 8px;
}

.activeMenu > .chevron {
	transform: rotate(45deg);
}

.centeredText {
	text-align: center;
}

.chevron {
	border-style: solid;
	border-width: 0 2px 2px 0;
	height: 9px;
	position: absolute;
	right: 9px;
	top: 10px;
	transform: rotate(-45deg);
	transition-duration: 400ms;
	width: 9px;
}

.exampleFigure {
	overflow-x: auto;
}

.hidden {
	display: none;
}

.languageSection {
	padding-left: 150px;
}

.navSidebar {
	background-color: white;
	height: 100vh;
	left: 0;
	margin: 0;
	overflow-y: scroll;
	position: fixed;
	text-align: center;
	top: 0;
	width: 150px;
}

@media screen and (max-width: 435px) {
	.navSidebar {
		/*I don't know what I'm going to do with this yet, but it will be amazing.*/
	}
}

.navSidebar a, .navTopbar a {
	border-color: lightgray darkgray darkgray lightgray;
	border-style: outset;
	box-shadow: 1px 1px 5px gray;
	color: black;
	text-decoration: none;
}

.navSidebar a {
	display: block;
	margin-bottom: 2px;
}

.navSidebar a.needsAttn {
	border-color: #e80000 #7e0000 #7e0000 #e80000;
	color: red;
}

.navSidebar a:hover, .navTopbar a:hover {
	border-style: inset;
	box-shadow: 1px 1px 5px gray inset;
}

.navSidebar dd {
	margin-bottom: initial;
}

.navSidebar ul {
	list-style-type: none;
	padding-left: 0;
}

.navTopbar a {
	display: inline-block;
	font-size: 1.2em;
	margin-bottom: 4px;
	padding-left: 2px;
	padding-right: 2px;
}

.pageHeadline {
	font-size: 3em;
	font-weight: normal;
}

.renderFigure * {
	box-sizing: initial;
}

.scriptedMenu {
	cursor: pointer;
	position: relative;
}

.scriptedMenu h4 {
	border-color: lightgray darkgray darkgray lightgray;
	border-style: outset;
	box-shadow: 1px 1px 5px gray;
	margin: 0 0 2px 0;
	padding-right: 21px;
}

.scriptedMenu ul {
	margin: 0;
}

.scriptedMenu.activeMenu > h4 {
	border-style: inset;
	box-shadow: 1px 1px 5px gray inset;
}

.styledTable {
	margin: 8px 0;
	text-align: center;
	width: 100%;
}

.styledTable caption {
	font-weight: bold;
	margin-bottom: 6px;
}

.verticalCentering {
    position: absolute;/*The parent of this attribute must have position set to relative in order for the absolute position to have the proper position content.*/
	top: 50%;
	-ms-transform: translateY(-50%);/*Internet Explorer/Edge browser prefix, invoking a beta, non-finalized version of the transform property*/
	-webkit-transform: translateY(-50%);/*Safari/early Chrome*/
	transform: translateY(-50%);
}

#changelog {
	white-space: pre-wrap;
}

#colorGroup {
	width: 96px;
}

#colorHex {
	width: 101px;
}

#colorName {
	width: 227px;
}

#colorRGB {
	width: 103px;
}

#exampledialog {
	height: 165px;/*<dialog> is not counted as a child element, so the containing section was rendering too small. I am currently using this as a workaround until I can script it properly.-->*/
}