* {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}

code {
	font-family: 'Inconsolata', monospace;
}

.HTMLSection {
	margin-left: 151px;
}

.navigationTopbar {
	border-style: ridge;
	font-size: 14pt;
}

.navigationTopbar a {
	color: black;
	text-decoration: none;
}

.navSidebar {
	display:block;
	height: 100vh;
	overflow-y: scroll;
    overflow-x: hidden;
	position: fixed;
	top: 0;
	width: 143px;
}

.navSidebar a {
	border-color: lightgrey darkgrey darkgrey lightgrey;
	/* Sides of the border, top right down left - clockwise */
	border-style: outset;
	display:inline-block;
}

.navSidebar a.needsAttn {
	border-color: #e80000 #7e0000 #7e0000 #e80000;
	border-style: solid;
}

.navSidebar dd {
	margin-left: 0px;
}

.navSidebar dt {
	font-size: smaller;
}

.navSidebar ul {
	list-style-type: none;
	padding-left: 0px;
}

.pageHeadline {
	font-size: 36pt;
	font-weight: normal;
	text-align: center;
}

.topbarButton {
	border-color: lightgrey darkgrey darkgrey lightgrey;
	border-style: outset;
	display:inline-block;
}

#changelog {
	height: calc(100vh - 179px);
	width: calc(100vw - 16px);
}